.scroll-menu {
    display: flex;
    .active {
        color: red;
    }
    li {
        white-space: nowrap;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .indicator {
        background-color: brown;
        height: 2px;
        width: 2rem;
        margin-top: 2px;
    }
}